[safe]
	directory = %(prefix)/
	directory = %(prefix)///fileserver/ratnesh.tiwari/
	directory = %(prefix)///fileserver/ratnesh.tiwari/
	directory = %(prefix)///fileserver/ratnesh.tiwari/
[user]
	name = Juberiya Zaheer
	email = 201b152@juetguna.in
[juberiya]
	zaheer = juberiya Zaheer
