[safe]
	directory = %(prefix)/
	directory = %(prefix)///fileserver/ratnesh.tiwari/
	directory = %(prefix)///fileserver/ratnesh.tiwari/
	directory = %(prefix)///fileserver/ratnesh.tiwari/
[user]
	name = JuberiyaZ
	email = 201b131@juetguna.in
[juberiya]
	zaheer = juberiya Zaheer
[gui]
	recentrepo = N:/201B189_GIT
